.container__item_banner {
  position: relative;
  display: flex;
  width: 100%;
  height: 290px;
}
.container__item_off {
  display: none;
  z-index: -10;
}

.container__item_banner img {
  object-fit: cover;
}

.container__item_banner a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.container__item_skeleton {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  animation: pulse 1.5s ease-in-out infinite;
  cursor: progress;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
