.home__produtos {
  padding: 10px;
  margin-bottom: 50px;
}

.container__itens {
  display: flex;
  flex-direction: row;
  gap: 10px 15px;
  padding: 8px 12px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.container__itens_horizontal {
  display: flex;
  flex-direction: row;
  gap: 10px 15px;
  padding: 8px 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.container__itens::-webkit-scrollbar {
  height: 4px;
  background-color: var(--cinza-claro);
  border-radius: 4px;
}

.container__itens::-webkit-scrollbar-thumb {
  background-color: var(--cinza-escuro);
  border-radius: 4px;
}

.item__produto {
  display: flex;
  flex-direction: column;
  padding: 6px 3px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #f5f5fa;
  max-width: 240px;
  position: relative;
}

.item__produto a {
  height: 100%;
  width: 100%;
  position: absolute;
}

.container__itens_horizontal .item__produto {
  flex: 1;
  max-width: fit-content;
}

.item__produto:hover {
  border: 1px solid var(--rosa-base);
  box-shadow: 1px 1px 1px 1px #ccc;
}

.item__produto img {
  border-radius: 4px;
}

.box__detalhes {
  padding: 3px;
}

.box__detalhes b {
  font-weight: 600;
}

.titulo__secao__lista {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cinza-escuro);
}

/* DETALHE PRODUTO */

.detalhe__container {
  display: flex;
  flex-direction: column;
}

.detalhe__container img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 90vh;
}

.detalhe__container h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.detalhe__container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.detalhe__container span {
  color: var(--preto-medio);
  font-weight: normal;
}

.detalhe__container .detalhes {
  padding: 10px;
}

.box__outros_links {
  display: flex;
  height: 40px;
}

.box__outros_links a,
.box__outros_links p {
  height: 100%;
  padding: 4px 20px;
  border: 1px solid var(--preto-claro);
  color: var(--preto-claro);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.more__about {
  width: 100%;
  background-color: var(--azul);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--branco);
}

.container__similares {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.box__similares__items {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

/* CARD PRODUTO */

.similar__item {
  flex: 1;
  position: relative;
  background-color: var(--branco);
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
}

.container__image_similar {
  width: 100%;
  height: 180px;
  position: relative;
}

.image_similar {
  object-fit: cover;
}

.similar__item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  word-wrap: break-word;
}

.desc__similars {
  padding: 3px 5px;
}

.box__send_this_product {
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 0px;
}

.box__send_this_product a {
  background-color: var(--preto);
  color: var(--branco);
  font-weight: 600;
  font-size: var(--font-size-sm);
  width: 100%;
  text-align: center;
  padding: 20px;
}
