.home__produtos {
  padding: 10px;
  margin-bottom: 100px;
}

.container__itens {
  display: flex;
  flex-direction: row;
  gap: 10px 15px;
  padding: 8px 12px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.container__itens_horizontal {
  display: flex;
  flex-direction: row;
  gap: 10px 15px;
  padding: 8px 12px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.container__itens::-webkit-scrollbar {
  height: 4px;
  background-color: var(--cinza-claro);
  border-radius: 4px;
}

.container__itens::-webkit-scrollbar-thumb {
  background-color: var(--cinza-escuro);
  border-radius: 4px;
}

.item__produto {
  display: flex;
  flex-direction: column;
  padding: 6px 3px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #f5f5fa;
  max-width: 240px;
}

.container__itens_horizontal .item__produto {
  flex: 1;
  max-width: fit-content;
}

.item__produto:hover {
  border: 1px solid var(--rosa-base);
}

.item__produto img {
  border-radius: 4px;
}

.box__detalhes {
  padding: 3px;
}

.box__detalhes b {
  font-weight: 600;
}

.titulo__secao__lista {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--cinza-escuro);
}
