.btn_blue {
  background-color: #3f8cff;
  color: var(--white-full);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.btn_blue:hover {
  background-color: #266acc;
}

.btn_orange {
  background-color: #ff8c00;
  color: var(--white-full);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.btn_orange:hover {
  background-color: #ff6d00;
}

.btn_red {
  background-color: var(--red-base);
  color: var(--white-full);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.btn_red:hover {
  background-color: #d93025;
}

.btn_green {
  background-color: #03ce7d;
  color: var(--white-full);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.btn_green:hover {
  background-color: #00b96e;
}

/* CLIENT BUTONS */

.btn_blue_two {
  background-color: #1a94ff;
  color: var(--white-full);
  border: none;
  border-radius: 16px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.btn_blue_two:hover {
  background-color: #127ddb;
}

.btn_blue_no_fill {
  color: var(--blue-base);
  border: 2px solid #1a94ff;
  border-radius: 16px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
