.box {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}

.box__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--white-full);
  box-shadow: 1px 1px 5px 1px #22200044;
}

.header__listagem {
  background-color: var(--white-full);
  padding: 12px 22px;
}

.header__listagem h1 {
  font-size: 18px;
  font-weight: bold;
}

.container__categorias_adm {
  display: flex;
  flex-direction: column;
  padding: 3px 8px;
}

.box__categoria_adm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 8px;
}
