.box__produto_admin {
  display: flex;
  flex-direction: row;
  gap: 5px 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 8px;
  padding: 6px 9px;
}

.box__produto_admin img {
  border-radius: 8px;
}

.box__desc_iten {
  width: 100%;
}

.box__buttons_admin {
  display: flex;
  width: 80%;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px 0px;
  align-items: center;
  justify-content: flex-start;
}

.box__desc_iten h2 {
  font-weight: bold;
  color: var(--black-subt);
  font-size: 16px;
}

.box__desc_iten p {
  font-weight: normal;
  color: var(--black-subt);
  font-size: 14px;
}

/* VISUALIZAR PRODUTO */

.box__show_produto {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.box__show_produto img {
  width: 100%;
}

.box__show_produto p {
  font-size: 14px;
  font-weight: normal;
  color: var(--black-subt);
}

.box__show_produto h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-subt);
}

.header__product {
  padding: 9px 12px;
  background-color: var(--white-full);
  display: flex;
  align-items: center;
}

.container__desc_produto {
  padding: 12px 16px;
}

.box__show_produto h3 {
  color: var(--black-subt);
  font-size: 16px;
  font-weight: bold;
}

.sub_buttons_product {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 8px;
}

/* CATEGORIAS */

.box__categoria_admin {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 8px;
  padding: 3px 4px;
  padding-right: 12px;
}

.box__categoria_admin img {
  border-radius: 6px;
}
