.form_container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 10px;
}

.select_image_button {
  background-color: #000080;
}

.form_input {
  height: 42px;
  border: 1px solid var(--preto-medio);
  padding: 11px 16px;
  border-radius: 4px;
}

.form_container textarea {
  height: 140px;
}

.box__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}
