.yelow__button {
  padding: 5px 10px;
  border: none;
  text-align: center;
  background: var(--amarelo);
  border-radius: 20px;
  color: var(--branco);
  cursor: pointer;
  font-weight: normal;
}

.red__button {
  padding: 5px 10px;
  border: none;
  text-align: center;
  background: var(--vermelho);
  border-radius: 20px;
  color: var(--branco);
  cursor: pointer;
  font-weight: normal;
}

.blue__button {
  padding: 5px 10px;
  border: none;
  text-align: center;
  background: var(--azul);
  border-radius: 20px;
  color: var(--branco);
  cursor: pointer;
  font-weight: normal;
}

.green__button {
  padding: 5px 10px;
  border: none;
  text-align: center;
  background: var(--verde);
  border-radius: 20px;
  color: var(--branco);
  cursor: pointer;
  font-weight: normal;
}

.blue__no_fill {
  padding: 5px 10px;
  text-align: center;
  background: none;
  border-radius: 20px;
  color: var(--azul);
  cursor: pointer;
  font-weight: normal;
  border: 1px solid var(--azul);
}
.blue__two_fill {
  padding: 5px 10px;
  text-align: center;
  background: var(--azul);
  border-radius: 20px;
  color: var(--branco);
  cursor: pointer;
  font-weight: normal;
  border: 1px solid var(--azul);
}
